<div class="content">
  <div class="row">
    <div class="col-7 offset-2">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <p class="card-text"><b>Subject</b>: Wilhelm Cashen has requested you to rate his performance / skills at Employer/Client</p>
        </div>
      </div>
    </div>

    <div class="col-10 col-sm-6 col-md-6 col-xl-6 offset-2">
      <div class="email-box-body ml-5 mt-2">
        <p>
          <span class="font-weight-bold">Body of the Email:</span> Wilhelm Cashen has requested you to rate his performance
          & skills at Employer/Client Name and build a Joppler Score. Please click the link below to provide your rating.
        </p>
        <a routerLink="/request_form/Wilhelm_Cashen" id="link">
        https://www.joppler.com/wilhelm_cashen/vouchfor/emailrequestform_employer.html
      </a>
        <div class="footerMsg mt-3">
          <p>
            It will take not more than 30 seconds of your valuable time to help Wilhelm build a score on Joppler.
          </p>
          <p>Thank you very much,</p>
          <p>
            Joppler Team
          </p>
        </div>
        <a routerLink="/about">Click here to learn more about Joppler</a>
      </div>
    </div>

  </div>
</div>