<div class="content">
  <div class="row">
    <div class="col-10 col-sm-7 col-md-7 col-xl-7 offset-2" id="setting-box">



      <div class="setting-box-body">
        <p class="title">Change Password</p>
        <p style="color:red; text-align:center">{{error}}</p>
        <form class="setting" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
          <div class="form-group row mb-4">
            
            <div class="col-12 mb-3">
              <input type="password" class="form-control form-control-danger mr-1" style="width:74%; display:inline !important;" placeholder="Old Password"
                name="old_password" [formControl]="myForm.controls['old_password']">
            </div>
            <div class="col-12 mb-3">
              <input type="password" class="form-control form-control-danger mr-1" style="width:74%; display:inline !important;" placeholder="New Password"
                name="new_password" [formControl]="myForm.controls['new_password']">
            </div>
            <div class="col-12 mb-3">
              <input type="password" class="form-control form-control-danger mr-1" style="width:74%; display:inline !important;" placeholder="Retype New Password"
                name="re_password" [formControl]="myForm.controls['re_password']">
            </div>
          </div>
          <div class="form-group row mb-4">
            <div class="col-12 mb-3">
              <div class="custom-control custom-checkbox my-1 mr-sm-2 mb-4">
                <input type="checkbox" class="custom-control-input" name="ch_public" id="ch_public" [formControl]="myForm.controls['ch_public']">
                <label class="custom-control-label" for="ch_public">Hide your Joppler Score from Public</label>
              </div>
            </div>
            <div class="col-12 mb-3">
              <div class="custom-control custom-checkbox my-1 mr-sm-2 mb-4">
                <input type="checkbox" class="custom-control-input" name="ch_individuals" id="ch_individuals" [formControl]="myForm.controls['ch_individuals']">
                <label class="custom-control-label" for="ch_individuals">Show your Joppler Score to Specific Individuals</label>
              </div>
            </div>
            <div class="col-9 mb-3">
              
              <div formArrayName="email1s" *ngFor="let item of email1s.controls; let i = index;">
                <div [formGroupName]="i">
                  <input type="text" formControlName="email1" class="form-control form-control-danger" style="width:94%" placeholder="Email Address (User Input)">
                </div>
              </div>
              <div class="input-group">
                <input type="email" class="form-control form-control-danger" placeholder="Email address / Joppler ID" name="email1" [formControl]="myForm.controls['email1']">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)='addRow("email1")'>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
              </div>

            </div>
          </div>

          <div class="form-group row mb-4">
            <div class="col-12 mb-3">

              <input type="text" class="form-control form-control-danger mr-1" style="width:74%; display:inline !important;" placeholder="Employer / Client / Project (To be popluated)"
                name="text_email" [formControl]="myForm.controls['text_email']">
              <span id="msg3">Not yet validated</span>
            </div>
            <div class="col-9 mb-3">
             
              <div formArrayName="email2s" *ngFor="let item of email2s.controls; let i = index;">
                <div [formGroupName]="i">
                  <input type="text" formControlName="email2" class="form-control form-control-danger" style="width:94%" placeholder="Email Address (User Input)">
                </div>
              </div>
              <div class="input-group">
                <input type="email" class="form-control form-control-danger" placeholder="Email Address (User Input)" name="email1" [formControl]="myForm.controls['email1']">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)='addRow("email2")'>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 offset-2">
            <button type="submit" class="btn btn-primary mb-2" style="width:100%">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>